* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
nav {
  background-color: rgb(219, 77, 77);
  position: fixed;
  width: 100%;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.nav-item {
  padding: 10px 20px;
  display: inline-block;
}
.nav-item:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(180, 85, 85);
}
.loichuc img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  margin-top: 25px;
}
.loichuc {
  padding-top: 40px;
  text-align: center;
  width: 90%;
  margin: auto;
}
.loichuc p {
  width: 60%;
  margin: auto;
  margin-top: 13px;
  font-size: larger;
}
.link a {
  text-decoration: none;
  color: black;
}
.loichuc2 h2 {
  margin-top: 22px;
}
.footer {
  background-color: rgb(185, 172, 172);

  /* height: 200px; */
  /* display: block; */
  text-align: center;
  margin-top: 20px;
  padding: 50px 0;
}

.footer p {
  height: 30px;
  margin-top: 15px;
}
footer i {
  margin-top: 30px;
}
.footer a {
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 10px;
}
